{% extends 'base.html' %}
{% block content %}
  <h1>Srcnn Web </h1>
  <ul>
    <li>
      <a href="{% url 'model_form_upload' %}">Upload de imagem</a>
    </li>
  </ul>

  <p>Arquivos carregados:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <!--<a href="{{ obj.document.url }}">{{ obj.document.name }}</a>-->
        <a href="detail/{{ obj.id }}/">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul>
{% endblock %}